$p-black: #2c2c2c;
$p-grey: #e8e8e8;
$bg-black: #2c2c2c;
$bg-black-hover: #414141;
$box-shadow-danger: 0px 0px 24px rgba(255, 0, 0, 0.27);
$box-shadow-default: 0px 0px 11px rgba(0, 0, 0, 0.25);
$text-shadow-danger: #ffb1b1;
$hhgrey: #f3f3f3;
$black: #000425;